.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: linear-gradient(#000000, #a4a3a5), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
}

.login-box {
    box-shadow: -2px 6px 40px -12px rgba(79, 79, 79, 0.68);
    border-radius: 8px;
}

.sidebar-dark-primary {
    background: var(--main-color);
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    /*background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
    /*background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);*/
    /*background-image: linear-gradient(117deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);*/
}

.skin-blue .topbar, .skin-blue-dark .topbar {
    background: #ffffff;
}

.right-sidebar {
    z-index: 1000;
    box-shadow: 5px 1px 40px rgba(0, 0, 0, .1);
    transition: all .3s ease;
    border: none;
}

.right-sidebar .rpanel-title {
    background: #2b2b2b;
    display: block;
    padding: 21px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.right-sidebar .rpanel-title span {
    float: right;
    cursor: pointer;
    font-size: 11px;
}

.skin-blue-dark .left-sidebar .user-pro-body a.link {
    color: #ffffff;
}

.sidebar-nav ul li a, .sidebar-nav > ul > li > a i {
    color: #ffffff;
}

.sidebar-nav ul li a:hover,
.sidebar-nav > ul > li > a:hover i,
.sidebar-nav ul li a:visited,
.sidebar-nav > ul > li > a:visited i,
.sidebar-nav ul li a:active,
.sidebar-nav > ul > li > a:active i,
.skin-blue-dark .sidebar-nav ul li a.active,
.skin-blue-dark .sidebar-nav ul li a.active i {
    color: #ffffff !important;
}

.sidebar-nav .has-arrow::after {
    border-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #2b2b2b;
}

.page-titles {
    background: none;
}

.text-info,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #2b2b2b;
}

.skin-blue-dark .page-titles .breadcrumb .breadcrumb-item.active {
    color: #2a5298;
}

.skin-blue-dark .sidebar-nav > ul > li.active > a {
    border-left: 3px solid #ffffff;
}

.light-logo {
    max-height: 30px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #e46a76;
}

.role-members {
    padding-bottom: 16px !important;
    padding-top: 17px !important;
}

/*******************
Border
*******************/
html body .b-0 {
    border: none;
}

html body .b-r {
    border-right: 1px solid #e9ecef;
}

html body .b-l {
    border-left: 1px solid #e9ecef;
}

html body .b-b {
    border-bottom: 1px solid #e9ecef;
}

html body .b-t {
    border-top: 1px solid #e9ecef;
}

html body .b-all {
    border: 1px solid #e9ecef !important;
}

.permission-section {
    background: #fdfdfd;
    padding: 0;
}

.navbar-header {
    text-align: center;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: 100%;
}

.select-file {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #c9d7df;
    cursor: pointer;
}

.board-column {
    background-color: #ffffff;
    margin-left: 10px;
}

.board-column .panel-body {
    padding: 10px;
}

.lobipanel, .lobipanel-parent-sortable {
    width: 100%;
}

.lobipanel .panel-body {
    cursor: move;
}

.board-column .panel-heading a i {
    font-size: 18px;
}

.lobipanel-sortable {
    border-left: 3px solid;
    background: #f9f9f9;
}

.board-column:nth-child(1) .lobipanel-sortable {
    border-color: #2b2b2b;
}

.board-column:nth-child(2) .lobipanel-sortable {
    border-color: #f1e52e;
}

.board-column:nth-child(3) .lobipanel-sortable {
    border-color: #3d8ee8;
}

.board-column:nth-child(4) .lobipanel-sortable {
    border-color: #32ac16;
}

.board-column:nth-child(5) .lobipanel-sortable {
    border-color: #ee1127;
}

.board-column:nth-child(1) .badge-primary {
    background: #2b2b2b;
    padding: .1em .5em;
}

.board-column:nth-child(2) .badge-primary {
    background: #f1e52e;
    padding: .1em .5em;
}

.board-column:nth-child(3) .badge-primary {
    background: #3d8ee8;
    padding: .1em .5em;
}

.board-column:nth-child(4) .badge-primary {
    background: #32ac16;
    padding: .1em .5em;
}

.board-column:nth-child(5) .badge-primary {
    background: #ee1127;
    padding: .1em .5em;
}

@media (min-width: 992px) {

    /* Overwrite the default to keep the scrollbar always visible */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
}

.container-scroll > .container-row {
    overflow-x: auto;
    white-space: nowrap;
    /* flex-wrap: nowrap !important; */
    display: block;
}

.container-scroll > .container-row > .board-column {
    display: inline-block;
    float: none;
    white-space: normal;
    width: 290px !important;
}

.container-scroll > .container-row {
    margin-top: 24px;
}

.language-switcher .dropdown-toggle, .language-switcher .dropdown-toggle:hover, .language-switcher .dropdown-toggle:focus, .language-switcher .dropdown-toggle:active {
    background: rgba(255, 255, 255, 0.05);
    font-weight: 200;
    /*color: #FFFFFF;*/
}

.asColorPicker-wrap {
    display: block;
}

html body .navbar-dark .mailbox .message-center a .mail-contnet .mail-desc {
    white-space: normal;
}

.table-responsive {
    overflow-x: hidden;
}

#myTable {
    width: 100% !important;
}

.control-sidebar-slide-open .control-sidebar {
    width: 50%;
    overflow-y: scroll;
}

@media (max-width: 540px) {
    .control-sidebar-slide-open .control-sidebar {
        width: 100%;
    }


    .mt-xs-2{
        margin-top: .5rem!important;
    }


    .mb-xs-2{
        margin-bottom: .5rem!important;
    }

    .fc-toolbar .fc-right, .fc-toolbar .fc-left{
        font-size: 12px;
    }

    .fc-toolbar h2{
        font-size: 20px;
        margin-top: 30px;
    }

    .dtp-btn-clear, .dtp-btn-cancel{
        background: none;
    }

    .table td, .table th{
        padding: 0.25rem;
    }
}

.control-sidebar {
    top: 0 !important;
}

.control-sidebar-light, .control-sidebar-light:before {
    border: none;
}

.brand-image {
    float: none;
}

[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .user-panel {
    border-bottom-color: rgba(244, 246, 249, 0.34901960784313724);
}

.sidebar-dark-primary .sidebar a {
    color: #ffffff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #313131;
}

.content-header h1{
    font-size: 1rem;
    font-weight: normal;
}

h4 {
    line-height: 22px;
    font-size: 18px
}

h5 {
    font-size: 14px;
}

h6{
    font-size: 13px;
    font-weight: normal;
}

.card-title{
    margin-bottom: 20px;
}

.login-logo{
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.login-page{
    background-size: cover;
}

.form-control{
    font-size: 0.8rem;
}

.login-page label:not(.form-check-label):not(.custom-file-label){
    font-weight: 400;
}

.nav-sidebar>.nav-item .nav-icon{
    font-size: 14px;
}

#gmap_geocoding{
    height: 300px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-responsive .custom-select{
    background: none;
}

.badge{
    font-weight: 300 !important;
    padding: 5px 8px;
}

.notify {
    position: relative;
    margin-top: -11px;
}

.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -16px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #8d432c;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fb9678;
    position: absolute;
    right: -6px;
    top: -10px;
}


@-moz-keyframes heartbit {
    0% {
      -moz-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -moz-transform: scale(0.1);
      opacity: 0.1;
    }
    50% {
      -moz-transform: scale(0.5);
      opacity: 0.3;
    }
    75% {
      -moz-transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
  }
  @-webkit-keyframes heartbit {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(0.1);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(0.5);
      opacity: 0.3;
    }
    75% {
      -webkit-transform: scale(0.8);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
    }
  }

  .content-wrapper>.content {
      padding: 0 2%;
  }

  .content .card {
      box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  }

  .content-header {
    padding: 25px .5rem;
    background: white;
    margin-bottom: 1.5rem;
}

.border-bottom {
    border-bottom: 1px solid #f0f3f5!important;
}

.fc-toolbar button, .fc-toolbar button:hover {
    background: var(--main-color);
    border: none;
    color: white;
    text-shadow: none;
    font-weight: 300;
}

.fc-toolbar .fc-icon::after {
    font-weight: inherit;
}

.fc-toolbar h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.fc td, .fc th {
    border-style: none !important;
}

.fc th {
    font-weight: 500;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    font-size: 14px;
    float:none;
}

.fc-ltr .fc-basic-view .fc-day-top {
    text-align: center;
}

.fc-widget-header {
    background: white;
    margin-bottom: 1rem;
}

.fc-unthemed td.fc-today {
    background: #fbfbfb;
}

.fc-event {
    line-height: 1.6;
    border: none;
    background: #444444;
    color: #ffffff !important;
    padding: 0 9px;
    font-size: 10px;
    line-height: 2.4;
}

label:not(.form-check-label):not(.custom-file-label), th {
    font-weight: 500;
}

.table-bordered {
    border-radius: 0.6rem;
    clear: both;
    margin-top: 6px;
    margin-bottom: 6px;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table-bordered thead th {
    border-bottom: none;
    border-top: none;
    border-left-width: 0;
}

.table-bordered td {
    border-left-width: 0;
    border-bottom-width: 0;
}

.table-bordered td:last-child, .table-bordered th:last-child  {
    border-right-width: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
} 

.direct-chat-name {
    font-weight: 400;
}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link {
    color: #f1f1f1;
}

.fa {
    font-family: FontAwesome !important;
    font-weight: normal !important;
}

.sidebar-collapse .brand-image {
    margin-left: 0;
}

.login-card-body, .register-card-body {
    border-radius: 0 0 8px 8px;
}
.color--error {
    color: #e23636;
}

/* header notification */
.main-header .navbar-nav.ml-auto #verify-mobile-info .alert {
    padding: 0px 10px;
    font-size: 12px;
}

.main-header .navbar-nav.ml-auto #verify-mobile-info .alert a {
    font-size: 12px;
    margin: 5px 0;
    padding: 0.3em;
}

#footer-sticky-notes{
    right: 12px;
    background: rgba(0, 0, 0, 0.80);
    bottom: 0;
    position: fixed;
    width: 300px;
    z-index: 3;
}

#sticky-note-header{
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#sticky-note-list{
    padding: 0 5px;
    overflow-y: auto;
}

#sticky-note-list .sticky-note{
    margin: 5px 0;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well{
    margin-bottom: 0;
}

#sticky-note-list .sticky-note .well hr{
    border-color: #FFFFFF;
}

.icolors, .icheck-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icolors>li {
    padding: 0;
    margin: 2px;
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #000000;
    text-align: center;
}

.icolors>li.active:after {
    content: "\2713 ";
    color: #ffffff;
    line-height: 30px;

}

.icolors>li:first-child {
    margin-left: 0;
}

.icolors>li.orange {
    background: red;
}

.icolors>li.yellow {
    background: yellow;
}

.icolors>li.info {
    background: skyblue;
}

.icolors>li.green {
    background: green;
}

.icolors>li.red {
    background:red;
}

.icolors>li.purple {
    background: purple;
}

.icolors>li.blue {
    background: blue;
}

.bg-purple {
    background: purple !important;
}

.file-bg {
    height: 150px;
    overflow: hidden;
    position: relative;
}
.file-bg .overlay-file-box {
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}
.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.card{
    border: 1px solid #ccc;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-block .card-title {
    margin-bottom: .75rem !important;
    font-size: 1em !important;
}

/* ToDo styles */

#todo-items-list h3 {
    margin-bottom: 0;
}

#completed-tasks > li.draggable label {
    text-decoration: line-through;
}

.todo-box{
    background-color: #fff;
    border-radius: 5px;
}

.todo-title{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px 5px 0 0;
}

#upper-box .todo-title {
    background-color: var(--orange);
}

#lower-box .todo-title {
    background-color: var(--teal);
}

.todo-title h5{
    color: #fff;
    padding: 13px 20px 11px;
    line-height: 1;
    font-size: 16px;
    margin: 0;
}

.btn-add{
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    border-left: 1px solid rgba(255, 255, 255, .3);
    font-size: 15px;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
}

.btn-custom {
    color: #ffffff;
    background-color: var(--main-color);
    border-color: var(--main-color);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-custom:hover {
    color: #fff;
}

.btn-add:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.list-group-item{
    background-color: #f6f7fb;
    margin: 5px;
    border-radius: 0 !important;
    border: 0;
    padding: 5px;
    padding-left: 30px;
}

.list-group-item p {
    font-size: 12px;
    padding-left: 20px;
}

.list-group-item .btn{
    font-size: 13px;
    display: inline-block;
    padding: 0 5px;
    color: var(--main-color);
}

.handle {
    position: absolute;
    top: 1px;
    left: 5px;
    color: var(--main-color);
    opacity: 0.6;
    cursor: pointer;
}

/*======================
    Custom checkbox
========================*/

/* [type="checkbox"]{
    margin-right: 5px;
    margin-top: 2px;
} */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1.5px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
}

/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\f00c';
    position: absolute;
    background: var(--teal);
    font-size: 0.8em;
    line-height: 1em;
    border-radius: 3px;
    left: 0px;
    padding-left: 0.5px;
    padding-top: 1.4px;
    text-align: center;
    top:2px;
    width: 15px;
    height: 15px;
    color: #ffffff;
    transition: all 0.4s ease;
    font-family: 'FontAwesome';
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]+label,
[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    margin: 0;
    line-height: 1.3;
    padding-left: 1.6em;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    color: #222;
    font-weight: 400;
}
