button#dropdownMenuButton {
    background: none;
    border: none;
    box-shadow: none;
    color: #31373c;
    padding: 20px 0px;
}

.flex-scroll {
    width: 100%;
    padding: 2% 1%;
    border: 1px solid #dedede !important;
    border-radius: 4px;
    margin-bottom: 15px;
}

.position-header h3 {
    font-size: 18px;
}

.position-header h3 i {
    color: #76d690;
    font-size: 15px;
}


a.btn.btn-green {
    background: #76d690;
    color: #ffffff;
    margin-right: 20px;

}

a.btn.btn-grey {
	background: #dedede;
    color: #68747e;
}

.position-body {
    font-size: 14px;
}

.position-body .ng-binding {
	margin: 0px 5px;
}

.avatar {
    background: #8357c1;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-right: 10px;
}

span.avatar {
	background-color: #fff;
    color: #84929f;
}

.right_text {
	position: relative;
}

.footer_left {
	left: 25%;
    position: absolute;
}

.footer_right {
	right: 8%;
    position: absolute;
}

.ht-padding {
	padding-right: 1%;
}

a.avatar.align-middle {
	margin: auto 2%;
    font-variant: full-width; 
    height: auto;
    width: auto;
    font-size: 27px;
}

#right-content button#dropdownMenuButton {
    padding: 0;
}
#right-content div.card-title {
    margin-bottom: 2%;
}

#right-content div.card-body {
    padding: 15px;
}

#right-content li.list-group-item {
    padding: 0px;
}

.position-header-inline {
    display: flex;
    justify-content: space-between;
}

.partition div.row {
    margin: 0;
}

.position_footer , .position_footer_left_content , .position_footer_right_content{
    display: flex;
    justify-content: space-between;
}

.position_footer_right_content {
    width: 170px;
    font-size: 16px;
}

.position_footer_right_content a {
    color: #31373c;
}